{% extends 'adminhome.html' %}
{% block 'body' %}
<style>
  h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: -35px;
    font-size: 1.5em;
  }
  h4 {
  margin-bottom: 20px;
  margin-left: 71%;
  font-size: 1em;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
}
    input {
      width: 15%;
      padding: 10px;
      margin-bottom: 15px;
      margin-left: 71%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

  input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 1);
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }

  td a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

</style>
<br>
<h3><u>Delete Courses</u></h3>
<br>
<h4>Total Courses = {{count}}</h4>
<input class="form-control" id="myInput" type="text" placeholder="Course Title"><br>
<table align="center" border="2" class="table table-bordered table-striped">
  <thead>
    <tr bgcolor="teal" style="color: white" >
      <td><b>ID</b></td>
      <td><b>Department</b></td>
      <td><b>Academic year</b></td>
      <td><b>Semester</b></td>
      <td><b>Year</b></td>
      <td><b>Course code</b></td>
      <td><b>Course title</b></td>
      <td><b>LTPS</b></td>
      <td><b>Credits</b></td>
      <td><b>Action</b></td>
    </tr>
  </thead>
  <tbody id="myTable">
    {% for course in coursesdata %}
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.department}}</td>
        <td>{{course.academicyear}}</td>
        <td>{{course.semester}}</td>
        <td>{{course.year}}</td>
        <td>{{course.coursecode}}</td>
        <td>{{course.coursetitle}}</td>
        <td>{{course.ltps}}</td>
        <td>{{course.credits}}</td>
        <td>
          <a href="/coursedeletion/{{course.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}
