{% extends 'facultyhome.html' %} 
{% block 'body' %}
<style>
form {
  background-color: teal;
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;

}
label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}
select,
textarea,
input {
  width: 110%;
  padding: 7px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 7px 7px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}
td {
  padding: 8px;
  font-size: 1.3em;
}
 h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: -35px;
    font-size: 1.5em;
  }
</style>
<h3 align="center"><u>Add Content</u></h3><br><br><br>
<center>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center" width="25%" height="40%" style="color: white">
        {% for field in form %}
            <tr>
                <td><label>{{ field.label }}</label></td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
    </table>
      <tr>
          <td><input type="submit" value="Upload" style="font-size: 20px;" /></td>
      </tr>
</form>
</center>
{% endblock %}
