{% load static %}
<style>
  .navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    max-width: 175px;
    height: auto;
    margin-right: 10px;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
h5 {
    text-align: right;
    color: green;
    margin: 0;
    padding: 20px;
    font-size: 1.3em;
}
</style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SMS PROJECT</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/facultystyle.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body bgcolor="lightgrey">
<!--    <h1 align="center">Student Academic Management System</h1>-->
    <br>
    <nav class="navbar">
      <div class="logo">
          <img src="{% static 'images/klu.png' %}" alt="KLU">
      </div>
      <ul class="nav-links">
        <div class="menu">
          <p style="bgcolor: lightgrey">
            <li><a href="{% url 'facultyhome' %}">Home</a></li>
            <li><a href="{% url 'facultychangepwd' %}">Change Password</a></li>
            <li><a href="{% url 'facultycourses' %}">My Courses</a></li>
<!--            <li><a href="{% url 'facultyaddcontent' %}">Add Content</a></li>-->
            <li class="services">
                <a href="#">Assessments ▼</a>
                <ul class="dropdown">
                    <li><a style="font-size:17" href="{% url 'facultyaddcontent' %}"> Add Content</a></li>
                    <li><a style="font-size:17" href="{% url 'facultyaddquiz' %}"> Add Quiz</a></li>
                </ul>
            </li>
<!--            <a href="{% url 'facultyviewcontent' %}">ViewContent</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
              <li class="services">
                <a href="#">View Details ▼</a>
                <ul class="dropdown">
                    <li><a style="font-size:17" href="{% url 'facultyviewcontent' %}"> View Content</a></li>
                    <li><a style="font-size:17" href="{% url 'facultyviewquiz' %}"> View Quiz</a></li>
                    <li><a style="font-size:17" href="{% url 'viewstudentslist' %}"> View Students</a></li>
                </ul>
            </li>
            <li><a href="{% url 'facultylogin' %}">Logout</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
        </div>
      </ul>
    </nav>
    <h5 align="right" style="color:green">Welcome {{fid}}</h5>
    <br />
    {% block 'body' %}
    <center>
    <div class="card">
      {% if faculty.gender == 'MALE' %}
        <img src="{% static 'images/malefacultyprofile.webp' %}" alt="Male" style="width:100%">
      {% endif %}
      {% if faculty.gender == 'FEMALE' %}
        <img src="{% static 'images/femalefacultyprofile.jpg' %}" alt="Female" style="width:100%">
      {% endif %}
        <div class="container">
          <br>
          <h4><b>{{faculty.facultyid}}-{{faculty.fullname}}</b></h4>
          <p>{{faculty.department}}</p>
          <p>{{faculty.qualification}}</p>
          <p>{{faculty.email}}</p>
          <p>{{faculty.contact}}</p>
        </div>
    </div>
    </center>
    {% endblock %}
  </body>
</html>
