{% extends 'index.html' %}
{% load static %}
{% block 'body' %}
<style>
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
  }
    .img-fluid.animated {
        max-width: 650px;
        height: 55vh;
        margin-top: 5px;
        margin-left: 350px;
        margin-right: -370px;
    }
    form {
        margin-right: 60px;
    }
    .addbutton {
    display: inline-block;
    padding: 8px 12px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
    .clearbutton {
    display: inline-block;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
</style>
<br><br>
<h2 align="center" style="color: red">{{message}}</h2>
<h3 align="center"><u>Admin Login</u></h3>
<center>
    <form method="post" action="{% url 'checkadminlogin' %}">
        {% csrf_token %}
        <img align="left" src="{% static 'images/admin2.gif' %}" class="img-fluid animated" alt="" height="604px">
        <table align="center" width="25%" height="20%"><br><br><br><br>
            <tr style="font-size:20">
                <td><label><b>Enter Username</b></label></td>
                <td><input type="text" name="uname" required/></td>
            </tr>
            <tr><td></td></tr>
            <tr style="font-size:20">
                <td><label><b>Enter Password</b></label></td>
                <td><input type="password" name="pwd" required/></td>
            </tr>
            <tr align="center">
                <td><input type="submit" value="Login" class="addbutton"/></td>
                <td><input type="reset" value="Clear" class="clearbutton"/></td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}
