{% extends 'studenthome.html' %}
{% block 'body' %}
  <style>
    h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: -35px;
    font-size: 1.5em;
  }
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: teal;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    th, td {
      padding: 10px;
      text-align: center;
      font-size: 1.3em;
      color: white;
    }
    select, input[type="number"], input[type="text"], input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
    }

    input[type="submit"].addbutton {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }

    input[type="submit"].addbutton:hover {
      background-color: #45a049;
    }

    input[type="submit"].clearbutton {
      background-color: red;
      color: white;
      cursor: pointer;
    }
  </style>
  <h2 align="center" style="color: red">{{msg}}</h2>
  <h3 align="center"><u>View Course Content</u></h3>
  <center>
    <form method="post" action="{% url 'displaycourselist' %}">
      {% csrf_token %}
       <table align="center" width="25%" height="40%">
    <tr align="center">
      <td><label>Academic Year</label></td>
      <td>
        <select name="ay" required>
          <option value="">--Select--</option>
          <option value="2023-24">2023-24</option>
          <option value="2022-23">2022-23</option>
        </select>
      </td>
    </tr>

    <tr align="center">
      <td><label>Semester</label></td>
      <td>
        <select name="sem" required>
          <option value="">--Select--</option>
          <option value="ODD">ODD</option>
          <option value="EVEN">EVEN</option>
        </select>
      </td>
    </tr>
      <tr align="center">
        <td><input type="submit" value="View" class="addbutton" /></td>
        <td><input type="submit" value="Clear" class="clearbutton" /></td>
      </tr>
  </table>
    </form>
  </center>
{% endblock %}
